<script>
    import {Line} from 'vue-chartjs'

    export default {
        name: "LineChart",
        props: ['labels', 'data', 'title', 'color'],
        extends: Line,
        data: () => ({
            options: {
                responsive: true,
                maintainAspectRatio: false,
                tooltips: {
                    callbacks: {
                        label: (tooltipItem, data) => {
                            const value =
                                data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        }
                    }
                },
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: true,
                                userCallback: (value, index, values) => {
                                    return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                    // return Number(x).toLocaleString();
                                }
                            }
                        }
                    ],
                    xAxes: [
                        {
                            ticks: {}
                        }
                    ]
                }
            }
        }),
        mounted() {
            this.renderChart(this.chartdata, this.options)
        },
        computed: {
            chartdata() {
                return {
                    labels: this.labels,
                    datasets: [
                        {
                            label: this.title,
                            backgroundColor: this.color,
                            data: this.data
                        }
                    ]
                }
            }
        }
    }
</script>

<style scoped>

</style>
