<template>
  <v-app dark>
    <v-app-bar
      :clipped-left="clipped"
      app
      fixed
    >
      <v-toolbar-title v-text="title"/>
      <v-spacer/>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt/>
      </v-container>
    </v-content>
    <v-footer
      :fixed="fixed"
      app
    >
      <v-row>
        <v-col cols="12" md="12" sm="12">
          <span>&copy; 2022</span>

          <span style="float: right"> #GUMA MURUGO</span>
        </v-col>
      </v-row>
    </v-footer>
  </v-app>
</template>

<script>
    export default {
        data() {
            return {
                clipped: false,
                drawer: false,
                fixed: false,
                items: [
                    {
                        icon: 'mdi-apps',
                        title: 'Welcome',
                        to: '/'
                    }
                ],
                miniVariant: false,
                right: true,
                rightDrawer: false,
                title: 'COVID 19'
            }
        }
    }
</script>
