<template>
  <v-layout
    column
  >
    <v-flex
      md12
      sm12
      xs12
    >
      <v-card>
        <v-card-title class="headline">
          <v-row>
            <v-col cols="12" md="4" sm="6">
              <v-menu
                :close-on-content-click="false"
                :return-value.sync="from_date"
                min-width="290px"
                offset-y
                ref="menu"
                transition="scale-transition"
                v-model="menu"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    @input="casesOverTime"
                    label="Kuva:"
                    prepend-icon="event"
                    readonly
                    v-model="from_date"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker @input="casesOverTime" no-title scrollable v-model="from_date">
                  <v-spacer></v-spacer>
                  <v-btn @click="menu = false" color="primary" text>Cancel</v-btn>
                  <v-btn @click="$refs.menu.save(from_date)" color="primary" text>OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="12" md="4" sm="6">
              <v-menu
                :close-on-content-click="false"
                :return-value.sync="to_date"
                min-width="290px"
                offset-y
                ref="menu2"
                transition="scale-transition"
                v-model="menu2"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    label="Kugeza:"
                    prepend-icon="event"
                    readonly
                    v-model="to_date"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker no-title scrollable v-model="to_date">
                  <v-spacer></v-spacer>
                  <v-btn @click="menu2 = false" color="primary" text>Cancel</v-btn>
                  <v-btn @click="$refs.menu2.save(to_date)" color="primary" text>OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12" md="4" sm="6">
              <v-autocomplete
                :items="countries"
                @change="casesOverTime"
                dense
                filled
                label="Hitamo Igihugu"
                v-model="form.country"
              ></v-autocomplete>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="12" md="4" sm="6">
              <v-alert
                border="right"
                color="blue-grey"
                dark
              >
                Abanduye: {{ (totalCalculations.confirmed).toLocaleString()}}

              </v-alert>
            </v-col>
            <v-col cols="12" md="4" sm="6">
              <v-alert
                border="top"
                color="red lighten-2"
                dark
              >
                Abapfuye: {{ (totalCalculations.deaths).toLocaleString()}}
                <span style="float: right">
                  {{totalCalculations.confirmed>0?((100*totalCalculations.deaths/totalCalculations.confirmed).toFixed(2)).toLocaleString():0}}%
                </span>
              </v-alert>
            </v-col>

            <v-col cols="12" md="4" sm="6">
              <v-alert
                border="left"
                color="green"
                dark
              >
                Abakize: {{ (totalCalculations.recovered).toLocaleString()}}
                <span style="float: right">
                  {{totalCalculations.confirmed>0?((100*totalCalculations.recovered/totalCalculations.confirmed).toFixed(2)).toLocaleString():0}}%
                </span>
              </v-alert>
            </v-col>
          </v-row>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12" md="12" sm="12">
              <v-btn
                :disabled="filteredCoronaCases.length==0 || (show_chart && this.counter!=chartDates.length)?true:false"
                @click="toggleCharts"
                color="primary"
                nuxt
                rounded
                style="float: right"
              >
                {{!show_chart?'GARAGAZA IBISHUSHANYO':this.counter==chartDates.length?
                'HISHA IBISHUSHANYO':'LOADING CHARTS......'}}
              </v-btn>
            </v-col>
            <v-col cols="12" md="12" sm="12"
                   v-if="filteredCoronaCases.length>0 && this.counter==chartDates.length && show_chart">
              <LineChart :data="casesCharts.confirmed" :labels="chartDates"
                         color="#607d8b"
                         title="Confirmed Cases"
              ></LineChart>
              <LineChart :data="casesCharts.deaths" :labels="chartDates"
                         color="#E57373"
                         title="Confirmed Deaths"
              ></LineChart>
              <LineChart :data="casesCharts.recovered" :labels="chartDates"
                         color="#4CAF50"
                         title="Recovered"
              ></LineChart>
            </v-col>
            <v-col cols="12" md="12" sm="12">
              <v-card-title>
                <v-row>
<!--                  <v-col cols="12" md="6" sm="12"></v-col>-->
                  <v-col cols="12" md="6" offset-md="6" sm="12">
                    <v-text-field
                      append-icon="mdi-magnify"
                      hide-details
                      label="Shakisha..."
                      single-line
                      v-model="search"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-card-title>
              <v-data-table :headers="table_headers"
                            :items="filteredCoronaCases"
                            :items-per-page="10"
                            :search="search"
                            class="elevation-1"
                            v-if="filteredCoronaCases.length>0">
                <template v-slot:item.correct_data.confirmed="{ item }">
                  <v-chip color="blue-grey" dark>{{ item.correct_data.confirmed.toLocaleString() }}</v-chip>
                </template>
                <template v-slot:item.correct_data.deaths="{ item }">
                  <v-chip color="red lighten-2" dark>{{ item.correct_data.deaths.toLocaleString() }}</v-chip>
                </template>
                <template v-slot:item.correct_data.recovered="{ item }">
                  <v-chip color="green" dark>{{ item.correct_data.recovered.toLocaleString() }}</v-chip>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
    import 'material-design-icons-iconfont/dist/material-design-icons.css'
    import LineChart from "../components/LineChart";

    export default {
        components: {LineChart},
        data() {
            return {
                search: 'Rwanda',
                table_headers: [
                    {text: 'Igihugu', value: 'country'},
                    {text: 'Abanduye', value: 'correct_data.confirmed'},
                    {text: 'Abapfuye', value: 'correct_data.deaths'},
                    {text: 'Abakize', value: 'correct_data.recovered'},
                ],
                from_date: "2022-01-22",
                to_date: new Date().toISOString().substr(0, 10),
                corona_cases: [],
                countries: [],
                show_chart: false,
                casesCharts: null,
                counter: 0,
                menu: false,
                menu2: false,
                chart: {
                    dates: []
                },
                form: {
                    country: "All"
                }
            }
        },
        methods: {
            toggleCharts() {
                this.show_chart = !this.show_chart;
                if (this.show_chart) {
                    this.casesOverTime()
                }
            },
            loadCases() {
                this.$axios.$get("https://pomber.github.io/covid19/timeseries.json")
                    .then(data => {
                        const corona_cases = [];
                        const countries = ["All"];
                        for (let x in data) {
                            countries.push(x);
                            corona_cases.push({'country': x, data: data[x]});
                        }
                        this.corona_cases = corona_cases;
                        this.countries = countries;
                    })
                    .catch(() => {
                        console.log("Error")
                    })
            },
            formatDate(date) {
                let offset = (new Date()).getTimezoneOffset() * 60000;
                let dateWithoutTimeZone = (new Date(new Date(date) - offset)).toISOString().substr(0, 10);
                return dateWithoutTimeZone;
            },
            filterByCountries() {
                return this.corona_cases.filter(c => {
                    if (this.form.country == "All")
                        return true;
                    return c.country == this.form.country;
                })
            },
            filterByDate() {
                let corona_cases = [];
                for (let i = 0; i < this.filteredCountries.length; i++) {
                    const filtered_data = this.filteredCountries[i].data.filter(d => {
                        return +(new Date(this.formatDate(d.date))) >= +(new Date(this.from_date)) &&
                            +(new Date(this.formatDate(d.date))) <= +(new Date(this.to_date))
                    });
                    const from_date = new Date(this.from_date);
                    const main_from_date = new Date("2022-01-22");
                    let data = {};
                    if (+from_date <= +main_from_date) {
                        const main_data = filtered_data[filtered_data.length - 1];
                        data = {
                            confirmed: main_data.confirmed,
                            deaths: main_data.deaths,
                            recovered: main_data.recovered
                        }
                    } else {
                        const from_data = filtered_data[0];
                        const main_data = filtered_data[filtered_data.length - 1];
                        data = {
                            confirmed: main_data.confirmed - from_data.confirmed,
                            deaths: main_data.deaths - from_data.deaths,
                            recovered: main_data.recovered - from_data.recovered
                        }
                    }
                    corona_cases.push({
                        country: this.filteredCountries[i].country,
                        correct_data: data,
                        data: filtered_data
                    })
                }
                return corona_cases;
            },
            casesOverTime() {
                if (this.show_chart === false)
                    return;
                this.counter = 0;
                let confirmed = [];
                let deaths = [];
                let recovered = [];
                let filtered_data = null;
                for (let date of this.chartDates) {
                    let date_confirmed = 0;
                    let date_deaths = 0;
                    let date_recovered = 0;
                    setTimeout(() => {
                        for (let i = 0; i < this.filteredCoronaCases.length; i++) {
                            // setTimeout(() => {
                            filtered_data = this.filteredCoronaCases[i].data.filter(d => {
                                return +(new Date(this.formatDate(d.date))) == +(new Date(date))
                            });
                            date_confirmed += filtered_data[0].confirmed
                            date_deaths += filtered_data[0].deaths
                            date_recovered += filtered_data[0].recovered
                            // }, 600)
                        }
                        confirmed.push(date_confirmed);
                        deaths.push(date_deaths);
                        recovered.push(date_recovered)
                        this.counter++
                    }, 200)

                }
                this.casesCharts = {confirmed, deaths, recovered};
            }
        },
        computed: {
            chartDates() {
                if (!this.filteredCoronaCases || this.filteredCoronaCases.length == 0)
                    return []
                return this.filteredCoronaCases[0].data.map(c => {
                    return this.formatDate(c.date)
                });
            },
            filteredCountries() {
                return this.filterByCountries()
            },
            filteredCoronaCases() {
                return this.filterByDate()
                // return this.filterCountries();
            },
            totalCalculations() {
                let sum_confirmed = 0;
                let sum_deaths = 0;
                let sum_recovered = 0;
                for (let i = 0; i < this.filteredCoronaCases.length; i++) {
                    sum_confirmed += this.filteredCoronaCases[i].correct_data ? this.filteredCoronaCases[i].correct_data.confirmed : 0
                    sum_deaths += this.filteredCoronaCases[i].correct_data ? this.filteredCoronaCases[i].correct_data.deaths : 0
                    sum_recovered += this.filteredCoronaCases[i].correct_data ? this.filteredCoronaCases[i].correct_data.recovered : 0
                }
                return {confirmed: sum_confirmed, deaths: sum_deaths, recovered: sum_recovered};
            }
        },
        created() {
            this.loadCases()
            // const last_date = this.formatDate(this.corona_cases[0].data[(this.corona_cases[0].data).length - 1].date);
            // this.to_date = last_date;
        }
    }
</script>
